@model BRASILPREV.WebApplication.Models.Pessoa
@{
    ViewData["Title"] = "Adicionar Pessoa";
}
<h2 class="display-4">Adicionar Pessoa</h2>
<form asp-action="Create">
    <input asp-for="@Model.Id" type="hidden" class="form-control form-control-sm" />
    <div class="form-row">
        <div class="form-group-sm col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Nome" class="control-label">Nome:</label>
                <input asp-for="@Model.Nome" class="form-control form-control-sm" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group-sm col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Cpf" class="control-label">Cpf:</label>
                <input asp-for="@Model.Cpf" class="form-control form-control-sm" />
            </div>
        </div>
    </div>
    <div class="form-row botao">
        <div class="col-md-11">
            <a asp-action="Index">
                <input type="button" value="Voltar" class="btn btn-sm btn-secondary" />
            </a>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
