@model BRASILPREV.WebApplication.Models.Telefone
@{
    ViewData["Title"] = "Editar Telefone";
}
    <form asp-action="Edit">
        <input asp-for="@Model.Id" type="hidden" class="form-control form-control-sm" />
        <div class="form-row">
            <div class="form-group-sm col-md-12">
                <div class="form-group">
                    <label asp-for="@Model.Ddd" class="control-label">Ddd:</label>
                    <input asp-for="@Model.Ddd" class="form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group-sm col-md-12">
                <div class="form-group">
                    <label asp-for="@Model.Numero" class="control-label">Numero:</label>
                    <input asp-for="@Model.Numero" class="form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="form-row botao">
            <div class="col-md-11">
                <a asp-action="Index">
                    <input type="button" value="Voltar" class="btn btn-sm btn-secondary" />
                </a>
            </div>
            <div class="col-md-1">
                <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
            </div>
        </div>
    </form>
